.product__page {
    grid-template-columns: minmax(0, 748px) 50px minmax(0, 642px);
}

.product__images {
    max-height: 840px;
    grid-column: 1;
    background-color: #CFF0FD;
    padding: 130px 56px 50px;
    overflow: hidden;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.product__content {
    grid-column: 3;
    padding: 0;
}

.product__images--thumbs .product__slide {
    width: 100%;
    max-width: 274px;
    margin: 0 auto;
}

.product__thumbs {
    margin-top: 100px;
}

.product__title {
    font-size: 44px;
    line-height: 60px;
    font-weight: 800;
}

.product__breadcrumbs {
    margin-bottom: 20px;
}

.product-accordion .accordion {
    border: none;
}

.radio__legend__option-name {
    color: #727981;
    font-size: var(--font-body-medium);
    line-height: 28px;
    font-weight: 500;
}

.radio__buttons {
    display: none;
}

.radio__legend__values {
    margin-top: 10px;
    font-size: var(--font-body-medium);
    line-height: 30px;
    font-weight: 500;
}

.form__wrapper--classic .radio__legend {
    margin: 0;
}

.inquiry-box {
    display: flex;
}

.inquiry-box .inquiry-btn {
    border-radius: 16px;
    padding: 16px 40px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
    background-color: #2F2D80;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.inquiry-box .inquiry-btn:hover {
    color: #2F2D80;
    background-color: #fff;
}

.product-selectors-sku {
    border-bottom: 1px solid var(--border);
}

@media screen and (max-width:750px) {
    .product__images {
        padding: 20px 10px;
    }

    .product__images--thumbs .product__slide {
        max-width: none;
    }

    .product__thumbs {
        margin-top: 40px;
    }

    .product__title {
        font-size: 30px;
        line-height: 40px;
    }
}